.calculator {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    width: 30%;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background: rgba(41, 47, 54, 0.6) !important;
    resize: none;
    border: solid #1c2128;
    border-width: 0 0 10px;
    border-radius: 0 !important;
    color: #DC143C;
    text-align: right;
    font-size: 250%;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
    position: relative;
    background: #292f36;
    padding: 5% 0 5% !important;
}

.row {
    display: flex;
}

.calculator-keys, .row {
    padding: 0;
    margin: 0;
    background: #292f36;
}

button {
    height: 80px;
    background-color: #292f36;
    border: 1px solid transparent;
    font-size: 32px;
    color: #0000ff;
    width: 25%;
    outline: none;
}

button:hover {
    color: #7777ff;
    background-color: #3F4853;
}

button:active {
    color: #0000ff;
    background-color: #292f36;
}

.operator, .percentage, .equal-sign {
    color: #00ff00;
}

.operator:hover, .percentage:hover, .equal-sign:hover {
    color: #aaffaa !important;
    background-color: #3F4853;
}

.operator:active, .percentage:active, .equal-sign:active {
    color: #1395C3 !important;
    background-color: #292f36;
}

.delete, .all-clear {
    color: #ff0000;
}

.delete:hover, .all-clear:hover {
    color: #00bfff;
    background-color: #ff3333;
}

.delete:active, .all-clear:active {
    color: #ff0000;
    background-color: #292f36;
}

/* MEDIA QUERY TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .calculator {
        text-align: center;
        margin: 0 auto;
        padding: 25px;
        width: 50%;
    }
    .calculator-screen {
        height: 20vh;
        max-height: 20vh;
    }

    .calculator-keys {
        height: 100% !important;
        max-height: 80vh;
    }
}

/* MEDIA QUERY SMART PHONE */
@media (max-width: 768px) {
    .calculator {
        text-align: center;
        margin: 0 auto;
        padding: 25px;
        width: 60%;
    }

    .calculator-screen {
        height: 20vh;
        max-height: 20vh;
    }

    .calculator-keys {
        height: 100% !important;
        max-height: 80vh;
    }
}
